*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.green{
    width: 500px;
    height: 500px;
    background-color: rgb(94, 143, 119);
    position: relative;
    left: 35%;
    top: 120px;
}

.white{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 20%;
    top: 100px;
    border-radius: 6px;
    padding: 20px;
    overflow: hidden;
}

.peorson{
    width: 30px;
    height: 30px;
}

.simple-title{
    font-size: 19px;
    font-family: serif;
    font-weight: bold;
}

.simple{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.thanks{
    font-size: 8.5px;
    font-family: serif;
    color: rgb(154, 154, 154);
}

.title_costs{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tiitle{
    margin: 5px;
    font-family: sans-serif;
    color: rgb(76, 76, 76);
}

.tiitle-2{
    margin: 20px 5px;
    font-family: sans-serif;
    color: rgb(76, 76, 76);
}

.tiitle-1{
    margin: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

.tiitle-1-2{
    margin: 20px 5px;
    font-weight: bold;
    font-family: sans-serif;
}

.serif{
    overflow: hidden;
    width: 257px;
    height: 233px;
    margin: -19px 0 0;
}